#background {
    width: 1200px;
    height: 700px;
    border-radius: 8px;
    background: black;
    margin: 50px auto;
    border: 5px solid black;
}

#source {
    width: 560px;
    height: 200px;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
    margin-left: 20px;
    background: white;
    float: left;
}

#result {
    width: 560px;
    height: 200px;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
    margin-right: 20px;
    background: white;
    position: relative;
    float: right;
}

#text1 {
    width: 510px;
    height: 130px;
    border-radius: 8px;
    display: block;
    border: 2px solid black;
    margin: 20px auto;
    margin-left: 20px;
}

#text2 {
    width: 520px;
    height: 130px;
    border-radius: 8px;
    display: block;
    border: 2px solid black;
    margin: 20px auto;
    margin-right: 20px;
    background: white;
    position: relative;
}

#coding {
    width: 1100px;
    height: 150px;
    display: block;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}

textarea {
    resize: none;
}

#keyboard {
    width: 700px;
    height: 220px;
    margin-top: 260px;
    margin-left: 250px;
    background: white;
    border-radius: 6px;
}

p {
    color: black;
    font-size: 20px;
    margin: 5px;
    margin-left: 5px;
}

.button {
    border-radius: 8px;
    font-size: 12px;
    background-color: #e0e0d1;
    width: 40px;
    height: 40px;
    margin: 2px 2px 2px 2px;
    text-align: center;
}

.tab {
    width: 70px;
}

.delete {
    width: 70px;
}

.enter {
    padding-left: 17px;
    padding-right: 17px;
}

.return {
    width: 77px;
}

.caps {
    width: 80px;
}

.shiftLeft {
    width: 95px;
}

.shiftRight {
    width: 109px;
}

.space {
    width: 696px;
}

.clear {
    margin-top: 20px;
    margin-left: 20px;
    width: 120px;
    height: 60px;
    float: left;
    font-size: 18px;
}

#uppercase {
    text-transform: uppercase;
}

#formular {
    color: white;
    margin-top: 20px;
    margin-left: 30px;
    float: left;
    font-size: 24px;
}

form {
    margin-top: 20px;
    margin-left: 30px;
    color: white;
    font-size: 24px;
    float: left;
}