#background {
    width: 1200px;
    height: 800px;
    background: black;
    margin: 50px auto;
    border: 5px solid black;
    -webkit-animation: bgChange 2s 2s alternate infinite;
    transition: all 2s ease;
}

/*#result {
    width: 280px;
    height: 70px;
    display: block;
    margin: 10px auto;
    background: white;
}*/